  <div class="ui sticky segment">
  <div class="ui grid two column row">
    <div class="left floated column">
      <div class="ui inverted left icon input">
      <input type="text" placeholder="Search...">
      <i class="search icon"></i>
      </div>
    </div>
      <div class="right floated right aligned column">
        <div class="ui right labeled left icon input">
        <i class="tags icon"></i>
        <input type="text" placeholder="Enter tags">
        <a class="ui tag label">
        Add Multiple Filters
        </a>
      </div>
      </div>
</div>
  </div>